.container {
    padding:30px;
}
.profile-card {
    background: #f3f3f3;
    border-radius: 4px;
    padding:30px;
    text-align: center;
}

.profile-card img {
    max-width: 50%;
    margin:15px auto;
}

.figcaption {
    position: absolute;
    width: 50%;
    height: 50%;
}

h1, h2, h3, h4, h5, h6 {
    font-size:45px;
    font-family: 'Merriweather';
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}


hr.colored {
    border-color: #EF4035;
}

hr {
    max-width: 100px;
    height: 2px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

  .navbar-collapse.in {
    overflow-y: hidden;
  }